@use "../../styles/util" as u;
@use "../../styles/globals" as g;

.signin {
  width: min(u.rem(400), 100% - u.rem(32));
  margin-inline: auto;
  margin-block: u.rem(120);

  &__heading {
    @include g.h5;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: u.rem(12);
  }

  &__button {
    align-self: center;
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__error {
    background: rgb(221, 116, 116);
    color: #fff;

    display: flex;
    align-items: center;
    gap: u.rem(8);

    padding: u.rem(8);
    border-radius: u.rem(8);
  }
}