@use "../../styles/util" as u;

.signin {
  margin-top: u.rem(128);

  &__dialog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: u.rem(16);

    border: u.rem(1) solid var(--text-color);
    padding: u.rem(24);

    width: 30%;
    margin: 0 auto;

    border-radius: u.rem(8);
    background: var(--background-color);
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: u.rem(8);
  }

  &__button {
    width: max-content;
  }
}