:root {
    --background-color: #fffffd;
    --text-color: #0E130F;
    --text-disabled-color: #404640;
    --primary-color: #68E02D;
    --accent-color: #E04CDD;
    --light-primary-color: #BDE0AC;
    --light-accent-color: #E7B8E6;
}