@use "../styles/globals" as g;
@use "../styles/util" as u;

.header {
  &__wrapper {
    display: grid;
    padding-block: u.rem(16);
  
    grid-template-columns: repeat(3, 1fr); 
    align-items: center;

    & *:nth-child(2) {
      justify-self: center;
    }
  
    & *:last-child {
      justify-self: end;
    }
  }

  &__actions {
    display: flex;
    column-gap: u.rem(32);
    align-items: center;
  }

  width: 100%;
  border-bottom: u.rem(1) solid var(--text-disabled-color);  
}

.nav {
  &__list {
    display: flex;
    column-gap: u.rem(32);
  }
}

.logo {
  @include g.h4;

  display: flex;
  align-items: center;
  column-gap: u.rem(16);

  &__image {
    height: u.rem(48);
    width: u.rem(48);
    transform: rotateZ(-90deg);
  }
}