@use "../styles/globals" as g;
@use "../styles/util" as u;

.nav {
  &__list {
    display: flex;
    gap: u.rem(32);
  }

  &__item {
    & > .link {
      @include g.h5;
    }
  }
}

.header {
  margin-block: u.rem(16);

  background: var(--color-surface);
  padding: u.rem(16) u.rem(24);
  border-radius: u.rem(24);

  &__actions {
    display: flex;
    gap: u.rem(16);
    align-items: center;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    align-items: center;

    & > :nth-child(2) {
      justify-self: center;
    }

    & > :nth-child(3) {
      justify-self: flex-end;
    }
  }
}