@use "@/styles/util" as u; 

.input {
  display: flex;

  width: auto;
  min-width: u.rem(200);
  min-height: u.rem(48);
  padding: u.rem(8);
  gap: u.rem(8);

  border-radius: 999px;
  background: #E7FAE1;

  &__icon {
    min-width: max-content;
    display: flex;
    align-items: center;

    & > * {
      min-width: u.rem(24);
      height: auto;
      color: var(--color-text-disabled);
    }
  }

  &__element {
    border: none;
    outline: none;
    background: none;
    width: 100%;

    &::placeholder {
      color: var(--color-text-disabled);
    }
  }

  &__controls {
    display: flex;
    align-items: center;

    min-width: max-content;
    gap: u.rem(4);
  }
}