@use "../util" as u;

.container {
  margin-inline: auto;
  max-width: min(u.rem(1200), 100% - u.rem(64));

  @include u.breakpoint-down(large) {
    max-width: min(u.rem(1000), 100% - u.rem(64));
  }
}